$contentClass = '.theme-default-content'

$accentColor ?= #EC6B29
$accentDarkColor ?= $accentColor

$textColor ?= #23233F
$textDarkColor ?= #F8F8F9

$borderColor ?= #23233F
$borderDarkColor ?= #707082

$codeBgColor ?= #23233F
$codeBgLightColor ?= #f8f8f8

$arrowBgColor ?= #EC6B29
$arrowBgDarkColor ?= $arrowBgColor

$badgeTipColor ?= #EC6B29
$badgeTipDarkColor ?= $badgeTipColor

$badgeWarningColor ?= darken(#FCB116, 35%)
$badgeWarningDarkColor ?= $badgeWarningColor

$badgeErrorColor ?= #A01C2B
$badgeErrorDarkColor ?= $badgeErrorColor

$preTextColor ?= #fff
$preTextLightColor ?= #4d4d4d

$highlightedBgColor ?= rgba(0, 0, 0, .66)
$highlightedBgLightColor ?= rgba(224, 224, 224, 0.5)

$languageTextColor ?= rgba(255, 255, 255, 0.4)
$languageTextLightColor ?= rgba(0, 0, 0, 0.4)

$lineNumbersColor ?= rgba(255, 255, 255, 0.3)
$lineNumbersLightColor ?= rgba(0, 0, 0, 0.3)

$miniCodeBgColor ?= rgba(27,31,35,0.05)
$miniCodeBgDarkColor ?= rgba(255,255,255,0.1)

$bgColor ?= #fff
$bgDarkColor ?= #23233F

$kbdBgColor ?= #F8F8F9
$kbdBgDarkColor ?= #444

$blockquoteTextColor ?= #999
$blockquoteTextDarkColor ?= #eee

$blockquoteBorderColor ?= #dfe2e5
$blockquoteBorderDarkColor ?= #666b6f

$tableBorderColor ?= #dfe2e5
$tableBorderDarkColor ?= $borderDarkColor

$tableStripeBgColor ?= #f6f8fa
$tableStripeBgDarkColor ?= #444

$tipColor ?= $textColor
$tipDarkColor ?= $textDarkColor

$tipBgColor ?= #f3f5f7
$tipBgDarkColor ?= #3e3b3b

$warningColor ?= #e7c000
$warningDarkColor ?= $warningColor

$warningBgColor ?= rgba(255, 229, 100, 0.3)
$warningBgDarkColor ?= rgba(185, 174, 119, 0.3)

$dangerColor ?= #c00
$dangerDarkColor ?= $dangerColor

$dangerBgColor ?= #ffe6e6
$dangerBgDarkColor ?= rgba(72, 56, 57, 30%)

$searchBorderColor ?= #999
$searchBorderDarkColor ?= #eee
